.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    gap: 4rem;
}

.logo-container {
    margin-top: 0.5rem;
}

.header a {
    color: hsl(0, 0%, 41%);
}

.header a:hover {
    color: hsl(0, 0%, 8%);
}

[data-menu="button"] {
    display: none;
}

[data-menu="container"] {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.menu-features, .menu-company {
    position: relative;
}

.features-menu, .company-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: max-content;
    gap: 0.5rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    border-radius: 10px;
    padding: 1.5rem;
} /*Listener Aqui*/

.features-menu {
    right: 15px;
}

.features-menu a, .company-menu a {
    padding: 0.5rem 1rem;
}

[data-dropdown]:hover ul,
[data-dropdown].active ul {
    display: flex;
    animation: show-up 0.3s forwards;
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.nav-menu > li > a {
    padding: 2rem 1rem;
}

.link-features::after, .link-company::after {
    content: url('/images/icon-arrow-down.svg');
    margin-left: 0.5rem;
}

.features-menu a[class^="link"] img {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    margin-right: 1rem;
}

[data-dropdown].active > a::after, [data-dropdown]:hover > a::after {
    content: url('../images/icon-arrow-up.svg');
}

.login-register {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link-register {
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 12px;
    padding: 1rem 2rem;
}

.link-register:hover {
    border-color: hsl(0, 0%, 8%);
}

