.main {
    max-width: 1200px;
    margin: 4rem auto 0;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "content    image"
        "client     image";
    gap: 0 4rem;
}

.section-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3rem;
}

.section-title {
    font-size: 6rem;
}

.section-title span {
    display: block;
}

.section-p {
    max-width: 40rem;
    line-height: 1.4;
    color: hsl(0, 0%, 41%);
}

.section-button {
    display: inline-block;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    font-weight: 700;
    width: max-content;
    padding: 1.3rem 2rem;
    border-radius: 13px;
    border: 1px solid transparent;
}

.section-button:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border-color:  hsl(0, 0%, 8%);
}

.img-container {
    grid-area: image;
    max-width: 40rem;
    justify-self: center;
}

.client-div {
    grid-area: client;
    align-self: end;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.modal {
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.modal.active {
    display: block;
}