* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

.img-container {
    max-width: 300px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
}

.header a {
    color: hsl(0, 0%, 41%);
}

.header a:hover {
    color: hsl(0, 0%, 8%);
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    padding: 0.5rem 1rem;
}

.features-menu, .company-menu {
    display: none;
}

/* .menu-features, .menu-company {
    display: flex;
    align-items: center;
} */

.link-features::after, .link-company::after {
    content: url(/images/icon-arrow-down.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 0.5rem;
}

.login-register {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link-register {
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 10px;
    padding: 1rem 2rem;
}